
@{
    ViewData["Title"] = "JsonTest";
}

<h1>JsonTest</h1>
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card h-100">
            <img src="http://www.travel.taipei/d_upload_ttn/sceneadmin/pic/11000848.jpg" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">新北投溫泉區</h5>
                <p class="card-text">北投溫泉從日據時代便有盛名，深受喜愛泡湯的日人自然不會錯過，瀧乃湯、星乃湯、鐵乃湯就是日本人依照溫泉的特性與療效給予的名稱。</p>
            </div>
            <div class="card-footer">
                <small class="text-body-secondary">臺北市  北投區中山路、光明路沿線</small>
            </div>
        </div>
    </div>
</div>
<div class="row row-cols-1 row-cols-md-3 g-4" id="card">
   
       
</div>

@section Scripts {
    <script src="~/js/travel.js"></script>
    <script>
        const display = (spots.CommonFormat.Section).map(() => {
            return (
                `
                         <div class="col">
                <div class="card h-100">
                                        <img src="${spots.CommonFormat.Section[0].file.img[0].text}" class="card-img-top">
                                            <div class="card-body">
                                                  <h5 class="card-title">${spots.CommonFormat.Section[0].stitle}</h5>
                                                          <p class="card-text">${spots.CommonFormat.Section[0].xbody}</p>
                                             </div>
                                             <div class="card-footer">
                                                   <small class="text-body-secondary" > ${spots.CommonFormat.Section[0].address} </small>
                                             </div>
                                                      </div>
            </div>
                                          `
            );
        });
        document.getElementById('card').innerHTML = display.join('');
        
        for (let i = 0, Max = spots.CommonFormat.Section.length; i < Max; i++) {
            console.log(spots.CommonFormat.Section[i].file.img[0].text);
        }               
        console.log(spots.CommonFormat.Section);
    </script>
}


